# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Airflow
logs/
airflow.db
airflow-webserver.pid
standalone_admin_password.txt

# Env / secrets
.env
.env.*
.aws
*.pem
*.key
secrets/
credentials/
config/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Tableau / temp
*.tmp